
$Green:green;
$white:white;
$Black:black;
$cottonSeed:#c1bdba;
$MineShaft:#333333;
$FruitSalad:#4CAF50;
$dividerColor:#aab;
$apple:#43A047;
$footerColor:#333;
$CostaDelSol:#666633;
$MountainMeadow:#1ab188;
$Edward:#a0b3b0;
$Alabaster:#f9f9f9;
$Solitude:#e6f2ff;
$Perano:#a1c1f1;
$Grandis:#FFCF79;
$Maroon:#800000;
$modalBackground-color: #fefefe;
$modalbordercolor:#888;
$CloseButton-color: red;
$ModalHeaderbground-color: #5cb85c;



$initialPadding:0px;
$initialmargin:0px;
$fullheight:100%;
$fullWidth:100%;
$Fullviewportwidth:100vw;
$Fullviewportheight:100vh;



